$primaryColor: hsl(137, 73%, 61%);
$textColor: hsl(0, 0%, 31%);
$bgColor: hsl(0, 0%, 90%);
$bgCardColor: hsl(0, 0%, 98%);
$borderRadius: 0.4em;
$transition: color 0.1s, background-color 0.2s ease-in-out;
