@import './abstracts/variables.css';

body {
	background-color: var(--bgColor);
	color: var(--textColor);
	transition: var(--transition);
	font-family: sans-serif;
	user-select: none;
}

.darkTheme {
	color: hsl(0, 0%, 90%);
  background-color: #3a3f47;
  --bg-card-color: #292f36;
}
