.flags {
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& img {
		border: 1px solid var(--text-color);
		width: 1.5em;
		cursor: pointer;
		display: block;
	}
}
