@import '../styles/abstracts/variables.css';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
	padding: 0 1.5em;
	background: var(--bg-card-color);
	transition: var(--transition);

	& h1 {
		margin: 0;
		font-size: 1.2rem;
		color: var(--primary-color);
		transition: var(--transition);
	}
}
