@import '../styles/abstracts/variables.css';

.card {
	padding: 1em;
	background-color: var(--bg-card-color);
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.title {
	margin: 0;
	margin-bottom: 1em;
	font-size: 1.2rem;
	color: var(--primary-color);
}
