@import '../styles/abstracts/variables.css';

.card {
	padding: 1em;
	background-color: var(--bg-card-color);
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.imageContainer {
	min-width: 275px;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.project {
	position: relative;
}

.projectTags {
	width: 275px;
	display: flex;
	justify-content: space-between;
	margin: 0.5em 0 1.3em;
	font-size: 0.65rem;
}

.title {
	margin: 0;
	font-size: 1.2rem;
	color: var(--primary-color);
}

.text {
	font-size: 0.9rem;
	line-height: 1.37;
}

@media screen and (min-width: 721px) {
	.card {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-column: 1 / -1;
	}

	.project {
		margin-left: 2em;
	}

	.project__tags {
		width: 400px;
		font-size: 0.75rem;
	}
}
