.themeSwitch {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	& img {
		color: inherit;
		margin-right: 0.5em;
		width: 20px;
	}

	& p {
		font-size: 0.8rem;
	}
}
